button{
    background: #9abdff;  
    border: none;  
    border-radius: 6px;    
    color: #ffffff;  
    justify-content: space-around;    
    padding: 0.7rem; 
    text-transform: uppercase;
    cursor: pointer;

}